GIT-VERSION-FILE
*.orig
*~
#*#
*.cache
*.kate-swp
*.swp
*.log
*.o
*.obj
*.opensdf
*.orig
*.pb.cc
*.pb.h
*.pyc
*.pyo
*.sdf
*.sln
*.suo
*.ter*
*.tlog
*.vcxproj
*.vcxproj.*
*.tlog
*.log
*.obj
*.o
*.ter*
*.kdev*
*.user
.sconsign*
.project
.cproject
.pydevproject
scons_build_options.txt
*.pid
pid_file
*.bak
.settings/
.autotools
.nfs*
*.diff
*.name
*.iml
*.xml
*.fuse*
*.exe


